body {background-color: #191919;
	max-width: 100vm;
	margin:auto;
	text-align:center;
	font-family: 'East Sea Dokdo', cursive;
	}
 h1 {color: black;
 	 text-align:center;}
 a{
   color:white;
   text-decoration:none
   }
 p{color:white;}
 label{color:white;}
 table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100;
}
div {
	text-align:center;
}
#title{
	font-style: initial;
	
	font-size: 48px;
}
#titleColor{
	color: yellow;
}
#lineDiv{
	border-top: 1px solid #303030;
	max-width:100vw;
}
#detailDivlineDiv{
	border-top: 1px solid #303030;
	width: 70%;
	display: inline-block;
	margin:0 auto;
}

#detailDiv{
	background-color: #212121; 
	padding: 5px; 
  	border-radius: 10px;
  	display: table;
  	width: 70%;
  	margin: auto;
  	font-family: 'Open Sans Condensed', sans-serif; 
}


td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 6px;
  color:white;
}

tr:nth-child(even) {
  background-color: #dddddd;
  color: white !important;
  
  
}
.basic{
	max-width:800px;
	margin:auto;
	text-align:center;
}

.quotes{
	cursor: default;
	color: #8e8e8e;
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
#flip{
	cursor:pointer;
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
#flip:hover{
	color:white;
}
.quotes:hover{
	color: #ffff00;
}
.calcButton{
	background-color: #313131;
	border: solid 1px #313131;
	line-height: 25px;
	left: -4px;
	position: relative;
	outline: none;
	color: #6b6b6b;
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	cursor:pointer;
}
.calcButton:hover{
	color:white;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.tips{
	color: #6b6b6b;
	font-family: Sans-serif;
	font-size: 14px;
}
.errmsg{
	color: white;
	font-family: Sans-serif; 
}
.inputBox{
	background-color: #131313;
	color: white;
	border: solid 1px #303030;
	line-height: 25px;
	width: 200px;
	outline: none;
	font-size: 14px;
}
.inputBox:focus{
	border: 1px solid #1b63b9;
}


.formBox{
	background-color: #212121;
}
.demonstrateDiv{
	min-height:150px;
	max-width: 350px;
	margin: auto;
}

.detailLineDiv{
	width: 30%;
	display:inline-block;
	border-top: 1px solid #303030;
}
.detailDiv50{
	width:50%;
	float:left;
	display: table-row;
}
.detailDiv25{
	width:25%;
	float:left;
	display: table-row;
}
.detailDiv33{
	width:33%;
	float:left;
	display: table-row;
}
.detailDiv125{
	width:12.5%;
	float:left;
	display: table-row;
}
.detailDivChild{
	width:25%;
	float:left;
	display: table-row;
	
}
.highlight{
	color: #ffff00;
}

.body{
	display:none;
}
.grayDot {
  height: 12px;
  width: 12px;
  background-color: #313131;
  border-radius: 50%;
  display: inline-block;
}
#countit{
	display:none;
}
.dots{
	display:none;
	letter-spacing: -4px; 
	line-height:11px;
	word-spacing:-1px;
}
.video{
	max-width: 500px;
	margins: auto;
	
}
.yellowDot {
  height: 12px;
  width: 12px;
  background-color: #ffff00;
  border-radius: 50%;
  display: inline-block;
}
.countDot{
  height: 15px;
  width: 15px;
  background-color: #1a1a1a;
  border-radius: 50%;
  display: inline-block;
}